<div class="col-md-6">  
  <div class="center">
    <h1>Your feedback is critical to our sucess <br> <small>Use this form to report any errors you find or simply tell us how you feel about BisonShare.</small> </h1>
  </div>
</div>
<%= render 'form' %>

<%= link_to 'Back', messages_path %>
