
    <div class="page-header">
 
      <div class="jumbotron"> 
       <div class="center">
        <h1>BISON BOOKS </h1>
       </div>
       </div>       

       <div class="col-m-6">
      <%= form_tag search_path, :method => :get do %>
           <%= text_field_tag :q, params[:q] , class: "form-control", placeholder: "Search for your books", data: { disable_with: "Loading..." }  %>
            <% end %>
   </div>    

    </div>

  
 
  

    <div class="center">       

      <%= link_to 'Post a book!', new_listing_path, class: "btn btn-primary btn-lg", data: { disable_with: "Loading..." } %>
    </div>
