<div class="index">
<% @listings.each_slice(4) do |list_group| %>
            <ul class="rig columns-4">
              <% list_group.each do |listing| %>
                <li>
                     <%= link_to cl_image_tag(listing.image_url(:thumbnail)), listing %>
                    <h3><%=listing.name%></h3>
                      <h4> <%= number_to_currency(listing.price) %></h4>
                  </li>
	              <% end %>
            </ul>
 <% end %>
</div>