<div class="center">
  <h1> Click on a Book for more details </h1>
    <div class="page-header">
    </div>
    <div class="form-group">

    </div>
</div>

  
<div class="center"> 
    <div class = "search" >
        <% @listings.each_slice(4) do |list_group| %>
            <div class="row">
              <% list_group.each do |listing| %>
                
                 <div class="col-md-3">
                   <div class= "well">
                     <h4><%=link_to listing.name.upcase, listing %></h4>
      
                        <p> <%= number_to_currency(listing.price) %></p>

                   
                  </div> <!--- colmd3 ---> 
                </div> 
             <% end %>
        </div> <!--- row class --->
        <% end %>
    </div>      
</div>       
 
