<div class="center">
  <h1> What is Meccashare? </h1>
</div>
  
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
        <h3>Do you like money?</h3>
    </div>
    <div class="thumbnail">
      <img src="https://www.dropbox.com/s/yjjhz6xuhkdq9h3/images%20%284%29.jpg?dl=0&raw=1">
      <div class="caption">
        <p> Do you hate spending hundred of dollars per semesters on brand new textbooks? </p>
       </div>
    </div>
  </div>
    <div class="col-md-4">
       <div class="panel panel-default">
          <h3>Do you like efficiency?</h3>
    </div>
    <div class="thumbnail">
      <img src="https://www.dropbox.com/s/pi21bbtn3hmp0d3/images%20%285%29.jpg?dl=0&raw=1">
      <div class="caption">
        <p> Are you sick of browsing through a billion facebook groups and GroupMes to buy or sell your textbooks? </p>
       </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
        <h3>Do you have too much time?</h3>
    </div>
    <div class="thumbnail">
      <img src="https://www.dropbox.com/s/2lpjs186wq6btse/image.png?dl=0&raw=1">
      <div class="caption">
        <p> Would you like to find and sell your textbooks easily and conviniently right here at Howard? </p>
       </div>
    </div>
  </div>
</div>