<div class="center">
<div class="about">
  <h1>BisonShare </h1>
  <h3> A platform that allows students to conviniently buy, sell, and trade their textbooks on campus. </h3>

<div class='row'>
  <div class="col-md-4">
  <%= image_tag("https://www.dropbox.com/s/2gr4a25vh1g3s5c/104087858.jpg?dl=0&raw=1") %>
  </div>
<div class="col-md-8">  
  <p>  At the end of every semester, there is a scramble among students to get rid of the textbooks they are done using, while obtaining the textbooks they need for the following semester. At the same time, students want to spend the least possible amount of money.  <br><br> </p>
     </div> <!---col-md-4--->
   </div> <!---row--->
  <br>
  <div class='row'>
  <div class="col-md-5">
  <p> The most common solution to this problem is to buy used textbooks at a cheaper price from other students on campus, and to sell one's own textbooks to students on campus who are going to be taking that class. Unfortunately there is no succinct way of going about this process. <br><br> </p>
   </div>  
    <div class="col-md-4">
      <%= image_tag("https://www.dropbox.com/s/74sl8qg42hq95lq/trade.jpg?dl=0&raw=1") %>
  </div>
  </div>
 
<div class='row'>
  <div class="col-md-4">
  <%= image_tag("https://www.dropbox.com/s/tfwmpp29wwhifnb/84ae17440468f2a26c18a7d7c97ef412.jpg?dl=0&raw=1") %>
  </div>
<div class="col-md-8"> <br><br> <br> <br>
  <p>  Textbook transactions among students are often painstaking and troublesome. Students are limited to trading among their own circles of friends and aquaintances. They can only find others who have or need their books through texting, group-me, or using various uncoordinated facebook groups. Students only have access to a small fraction of total book buyers and sellers on campus. <br><br> </p>
   </div>
  </div>
  <div class="col-md-8">
 <p>  BisonShare is a succinct platform that connects students from various networks, allowing them to trade textbooks as easily as possible. A student that logs on to BisonShare can list their own books for other students to buy or ask to buy other students' books. <br>
  Buying a textbook is as easy as ever. Simply send the seller an email through BisonShare giving them your contact information, or a time and location to meetup, find each other on campus, and trade your books. There are no hassle of credit cards or shipping. 
</p>
  </div>
      <div class="col-md-4">
  <%= image_tag("https://www.dropbox.com/s/rzukj6c5v35uupa/Calgary-landlords.jpg?dl=0&raw=1") %>
  </div>
    
    
  </div>
</div>