<h1> Simeon Kakpovi </h1>
<div class="col-md-4">
      <img src="https://www.dropbox.com/s/s8jwyze27vyhj2k/2d512c7.jpg?dl=0&raw=1" alt="..." class="img-circle">
</div>
<div class="col-md-8">
  <div class="contact">
  <p>BisonShare was developed by Simeon Kakpovi, an ambitious Computer Information Systems major with a commitment to employing fast learning, analytical thinking, and adaptability as means to leading problem solving processes. Simeon has a passion for exploring technology and the ways in which it can be used to change our everyday lives for the better. </p> <br><br>
  
  <p>BisonShare is constantly evolving and we can't do it without your help. Please report any errors on the site, or any questions you may have, to bisonshare@gmail.com. You feedback is critical to our success.</p>
  <h3>BisonShare@gmail.com</h3>
    <h3>Follow us @bisonshares</h3>
  </div>
</div>