<h1> Simeon Kakpovi </h1>
<div class="col-md-4">
      <img src="https://www.dropbox.com/s/s8jwyze27vyhj2k/2d512c7.jpg?dl=0&raw=1" alt="..." class="img-circle">
</div>
<div class="col-md-8">
  <div class="lead">
  <p>BisonShare was developed by Simeon Kakpovi, an ambitious Computer Information Systems major with a commitment to employing fast learning, analytical thinking, and adaptability as means to leading problem solving processes. Simeon has a passion for exploring technology and the ways in which it can be used to change our everyday lives for the better. </p> <br><br>
  
  <p>BisonShare is constantly evolving and we can't do it without your help. Please report any errors on the site, or any questions you may have, to bisonshare@gmail.com. You feedback is critical to our success.</p>
  <h3>BisonShare@gmail.com</h3>
    <a href="https://twitter.com/BisonsShare" class="twitter-follow-button" data-show-count="false">Follow @BisonsShare</a>
  </div>
  
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
    <div class="fb-like" data-href="https://www.facebook.com/bisonshare" data-width="200px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    
  </div>
