<div class="center">
  <div class="page-header"> <h1> Getting Started </h1> </div>
</div>
<div class="gs">
  <div class="center">
  <div class="page-header"> <h2> Selling your books</h2> </div>
</div>

    <div class="col-md-3">
        <div class="well">
          <h2>1. Post a book</h2><br/>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
          <h2>2. Get buyer requests by email</h2><br/>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
          <h2>3. Manage your listings</h2><br/>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
          <h2>4. Mark the book as sold when you're done</h2><br/>
        </div>
    </div>
  
<div class="center">
  <div class="page-header"> <h2> Finding and buying your books</h2> </div>
  </div>
  
   <div class="col-md-3">
        <div class="well">
          <h2>1. Search for the book you need</h2><br/>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
          <h2>2. Send an email request to the owner</h2><br/>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
          <h2>3. Meet on campus to get your book</h2><br/>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
          <h2>4. Sell the book on BisonShare at the end of the semester</h2><br/>
        </div>
    </div>
  
</div>