<body class="home">
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">



      <div class="inner cover">
        <br><br><br><br><br><br><br><br><br><br>
        <div class="center">
        <h1 class="cover-heading">BisonShare</h1>

        <p class="lead">Books sold to and by Howard University students.</p>
          <%= link_to 'Join the movement', listings_path, class: "btn btn-lg btn-info", data: { disable_with: "Loading..." } %>

            </div>
      </div>
          
          