

.container-fluid {
  background-color: #001CED;
}

.navbar-default .navbar-brand{
  font-family: guardian-egyptt, georgia, serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 30;
}

.navbar-brand {
  color: #000000;
  font-family: guardian-egyptt, georgia, serif;
  font-weight: 300;
}
  
.navbar-right{
  color: white;
}
.center {
 text-align: center;
}

.jumbotron {
  background-image: url('https://www.dropbox.com/s/1z1pteodjcr1zux/061213-national-hbcu-review-howard-university-campus-1.jpg?dl=0&raw=1');
  h1, h2 {
      font-family: guardian-egyptt, georgia, serif;
  }
    
}

