
body{
 background-color: #B7DBFF; 
  }

.special{
  color: blue;
  font-weight: bold;
  font-family: guardian-egyptt, georgia, serif;
  
}

  .jumbotron {
    background-color: #81D1F6;
    h1{
      color: white;
    }
}

.navbar-default .navbar-brand{
  font-family: Sans-serif, georgia, serif;
  font-weight: 400;
  color: #1A1160;
  font-size: 40px;

}

.navbar-default .navbar-nav >li >a {
  font-family: Sans-serif, Times, serif;
  font-size: 16px;
  font-weight: bold;
  color: #1A1160;
}



.navbar-brand {
  font-family: guardian-egyptt, georgia, serif;
  font-weight: 300;
}
  
.navbar-right{
  color: #1A1160;
}
.center {
 text-align: center;
}

.index .jumbotron {
  background-image: url("https://www.dropbox.com/s/uutdcyknbijbjgx/meccashare.png?dl=0&raw=1");
  h1 {
      font-family: guardian-egyptt, georgia, serif;
      color: black;
      text-align: center;
  }
   h2 {
      font-family: guardian-egyptt, georgia, serif;
      color: black;
      text-align: right;
     font-size: 27px;
  }
}

 .jumbotron {
      width:1000px;
  h1 {
      font-family: guardian-egyptt, georgia, serif;
      color: Black;

  }
   h2 {
      font-family: guardian-egyptt, georgia, serif;
      color: Black;
     font-size: 27px;
  }
}

.col-md-4 {
  font-family: guardian-egyptt, georgia, serif;
}

.navbar body { padding-bottom: 30px; }

.description {
       font-family: guardian-egyptt, georgia, serif;
      color: black;
      h4{
        color: blue;
      }
}
 
.btn-primary:visited {
    color: white;
}
.btn-success:visited {
    color: white;
}
.navbar:hover {
  color: black;
}

.navbar-nav li:hover {
  background-color: black;
}


.pic {
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}
 
.pic:hover {
  -webkit-filter: grayscale(75%);
}

.description{
  p {
    color: #062655;
  }
}
