.page-header{
  h1{
    
    color: #29264E;
    font-family: guardian-egyptt, georgia, serif;
  }
}

.description {
       font-family: guardian-egyptt, georgia, serif;
      color: #29264E;
      h4{
        color: #29264E;
      }
}


.contact {
  p{
    font-size: 16px;
    font-family: guardian-egyptt, georgia, serif;
    line-height: 2em;
  }
}

.navbar-login{
    width: 150px;
    padding: 10px;
    padding-bottom: 0px;
}
.col-lg-8 p:hover{
  color:black;
}

body{
 background-color: #B7DBFF; 
  }


  .jumbotron {
    background-color: white;
}

.navbar-default .navbar-nav >li >a {
  font-family: Sans-serif, Times, serif;
  font-weight: bold;
  font-size: 13px;
  color: #1A1160;
}



.navbar-nav >li:hover{
  background-color:#DDDDDD;
}
 
.center {
 text-align: center;
}


 .jumbotron {
  h1 {
      font-family: guardian-egyptt, georgia, serif;
      color: Black;

  }
   h2 {
      font-family: guardian-egyptt, georgia, serif;
      color: Black;
     font-size: 27px;
  }
}

.col-md-4 {
  font-family: guardian-egyptt, georgia, serif;
}


 
.btn-primary:visited {
    color: white;
}
.btn-success:visited {
    color: white;
}
.btn-danger:visited {
    color: white;
}
.btn-primary{
  background-color: #D1D1D1;
}

 .pic img{
   padding: 5px; border: solid 1px #EFEFEF;
   -moz-box-shadow: 1px 1px 5px #999;
   -webkit-box-shadow: 1px 1px 5px #999; box-shadow: 1px 1px 5px #999;
 }

.pic:hover img{
   transform: scale(1.1);
  transition: ease 1.5;
}
.pic:hover a{
  background-color: white;
}
 .showpic img{
   padding: 5px; border: solid 1px #EFEFEF;
   -moz-box-shadow: 1px 1px 5px #999;
   -webkit-box-shadow: 1px 1px 5px #999; box-shadow: 1px 1px 5px #999;
 }

.description{
  p {
    color: #062655;
  }
}