.jumbotron {
  background: url(https://www.dropbox.com/s/kvbxgigvooelpzl/library.jpg?dl=0&raw=1);
  
  .center h1{
    color:white;
    font-weight: bold;
     font-family: 'Ubuntu', sans-serif;
    
  }
   small{
    color:white;
  }
}
body.home {
/*css for full size background image*/
background: url(https://www.dropbox.com/s/wuqv2qcm2y0nk90/iG8XLtvllAb53.jpg?dl=0&raw=1) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  
   height: 100%;
  background-color: white;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.lead{
    align: center;
  font-family: 'Ubuntu', sans-serif;
}

.about{
  h1{
    color: #1A1160;
    font-family: guardian-egyptt, georgia, serif;
    text-align: center;
  }
   h3{
    color:#1A1160;
    width: 950px;
    font-family: guardian-egyptt, georgia, serif;
  }
  p{
    font-family: guardian-egyptt, georgia, serif;
    font-size: 22px;
    color:#1A1160;
    line-height: 2em;
  }
}



.inner{
  h1{
    color:white;
    font-weight:bold;
    font-size:40px;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

  }
  p{
    color:white;
    font-weight:bold;
        text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
}
/*
 * Base structure
 */





/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}



/*
 * Cover
 */

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.cover .btn-lg:visited {
    color: white;
}
/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */
 .starting img{
   padding: 5px; border: solid 5px #000000;

 }