<div  class="home">
    <div id="home" class="parallax-window" data-parallax="scroll" data-image-src="https://unsplash.com/photos/uoSEDUu8F-I/download"></div>
  
  <div class="text">
    <h1>BisonShare</h1>
    <h2>Share books and more</h2>
  </div>  
<div>