<div class="container-fluid main" id="page-top">
	<div class="row">
		<div class="col-md-12 backg">
			<div class="col-md-4 col-md-offset-4 inner col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
				<div class="text-box">
                	<p class="intro">Welcome to</p>
                    <h2>BisonShare</h2>
                    <h3>Find your books on campus now.</h3>
                    <p><a href="/listings" class="link-button">Get Started</a></p>
				</div>
  			</div>
		</div>
		<div class="col-md-12 some-notes" align="center">
			<div class="title">
          <img src="http://res.cloudinary.com/ntdpasnidp/image/upload/v1439433300/bison_mde3vw.jpg" />
        <h2>What is <strong>BisonShare</strong>?</h2>
            </div>
            <div class="desc">
              <p>At the end of every semester, there is a scramble to get rid of the last semester's textbooks. While simultaneously trying to obtain new textbooks. As college students, we like to get our money's worth and skip the overpriced bookstore's shelves. Here's the solution: Introducing <strong>BisonShare</strong>...</p>
              &nbsp;
              <p><strong>BisonShare</strong> is a succinct platform that connects students from various networks, allowing them to trade textbooks as easily as possible. A student that logs on to BisonShare can list their own books for other students to buy or ask to buy other students' books.</p>
              &nbsp;
              <p>Buying a textbook is as easy as ever. Simply send the seller an email through BisonShare giving them your contact information, or a time and location to meetup, find each other on campus, and trade your books. There are no hassle of credit cards or shipping.</p>
              &nbsp;
              <p><a href="#gettingstarted" class="btn-primary btn-lg">How to Get Started</a></p>
            </div>
		</div>
	</div>
</div>